<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List view</title>
</head>
<body>

    <h1>It's <%=kindOfDay%> today</h1>
    <h3><%= messageForDay %> </h3>
    <ul style="list-style:none;">
        <li>Buy food</li>
        <li>cook food</li>
        <li>eat food</li>
        <!-- <li><%= newListItem %></li> -->
        <% for( let i = 0; i < newListItem.length; ++i ) { %>
        <li><%=newListItem[i] %></li>
        <% } %>
    </ul>
    <form action="/" method="POST" id="formForItems">
        <input type="text" placeholder="Add new item" name="newItem">
        <button type="submit">Add Item</button>
        <button type="reset" id="reset-btn">Reset Form</button>
    </form>
    <script src="../resetForm.js"></script>
</body>
</html>